body{
    background: silver;
}
.wrap{
    width: 1200px;
    /*height: 50%;*/
    background: gold;

    margin-top: 100px;
    margin-left: 360px;

    border: 5px solid #4e4d4d;
    border-radius: 20px;
}

.a{
    width:96.6%;
    height: 200px;
    background: silver;
    border-radius: 20px;
    margin: 20px;

    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;

    justify-content: center;
    align-items: center;
}
.father{
    background: blue;
    width:96.6%;
    height: 520px;
    margin: 20px;
    /*display: flex;*/
    /*flex-direction: row;*/
}
.b {
    width: 65%;
    height: 300px;
    background: silver;
    border-radius: 20px;

    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;

    justify-content: center;
    align-items: center;
}
.box {
    width: 65%;
    height: 200px;
    background: silver;
    border-radius: 20px;
    margin-top: 20px;

    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;

    justify-content: center;
    align-items: center;
}
.f{
    width: 34%;
    height: 520px;
    background: deepskyblue;
    margin-top: -520px;
    margin-left: 765px;
    border-radius: 20px;

    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;

    justify-content: center;
    align-items: center;
}
.text{
    /*width: 40%;*/
    width: 300px;
    height: 200px;
    margin:5px;

    background: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    color: white;
    font-size: 30px;
    font-weight: bold;
}


/*@media screen and (max-width: 1570px) {*/
/*    body {*/
/*        background: #69f4d2;*/
/*    }*/

/*    .wrap {*/
/*        margin-top: 100px;*/
/*        margin-left: 20px;*/
/*        width: 50%;*/
/*        flex-direction: column;*/

/*    }*/

/*    .father {*/
/*        width: 100%;*/
/*        flex-direction: column;*/
/*    }*/

/*    .a {*/
/*        width: 100%;*/
/*        height: 100px;*/
/*        margin-left: 0px;*/
/*    }*/

/*    .b {*/
/*        width: 100%;*/
/*        height: 300px;*/
/*        margin-left: -20px;*/
/*    }*/

/*    .c {*/
/*        width: 100%;*/
/*        height: 200px;*/
/*        margin-top: 20px;*/
/*        margin-left: -20px;*/
/*    }*/
/*}*/