body{
background: silver;
}

.target1{
    margin: 30px 40px;
    border: 10px solid gold;
    box-sizing: border-box;
    padding-top: 190px;

    background: #274fe3;
    color: black;
    height: 50vh;
    width: 55vw;
    text-align: center;
}

.box{
    display: flex;
    flex-wrap: wrap;

}
/*.<div class="box">

        <div class="icon">
        <br><img src="Images/computer.png" alt="Komputer">
        </div>

            <div class="target1">
                <br><h2>Responsive Design</h2>
               <br><p>Flat bootstrap responsive our services box free download.
                    Download and use it.
                </p>
                <div class="target2">
                    <h2>Learn more</h2>
                </div>
            </div>
        </div>

/*    !*border: 10px solid blue;*!*/
/*    !*box-sizing: border-box;*!*/
/*    !*padding-top: 65px;*!*/

/*    background: gold;*/
/*    color:black;*/
/*    height: 200px;*/
/*    width: 300px;*/
/*    text-align: center;*/
/*}*/
.target3{
    margin: 30px 40px;
    border: 10px solid gold;
    box-sizing: border-box;
    padding-top: 380px;

    background: #274fe3;
    color: black;
    height: 800px;
    width: 55vw;
    text-align: center;
}